<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <!-- Contact Section -->
        <section id="contact-us" class="section">
            <div class="container">
                <div class="row no-gutters justify-content-center">
                    <iframe
                        style="border: 0; width: 100%; height: 270px"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3955.722310157253!2d110.20713311002598!3d-7.495879873900101!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e7a8f12a8f5acd3%3A0x569c3f8c542dc94d!2sLPK%20Mitra%20Jaya%20Indonesia%20New!5e0!3m2!1sen!2sid!4v1709741653610!5m2!1sen!2sid"
                        frameborder="0"
                        allowfullscreen
                    ></iframe>
                </div>
            </div>
        </section>
        <!-- End Contact Section -->
    </body>
</html>
